*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #bac2d2, #2b78b8);
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
  padding: 10px;
  background-color: #000;
  overflow: hidden;
  max-width: 412px;
  max-height: 100vh;
}

.display {
  min-width: 400px;
  min-height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 4px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  color: #f1f2f3;
  line-height: 16px;
  font-size: 1em;
}
.current-operand {
  color: #fff;
  font-size: 3em;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 98px);
}

.span-two-columns {
  grid-column: span 2;
  color: #6b705c;
}

#ans {
  border-bottom-left-radius: 24px;
  letter-spacing: 4px;
}

#equals {
  border-bottom-right-radius: 24px;
}

button {
  margin: 3px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 700;
}

@media (max-width: 650px) {
  .container {
    max-width: 372px;
    max-height: 700px;
    overflow: hidden;
    margin: 2px 0;
  }

  button {
    margin: 3px;
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 90px);
  }

  .display {
    min-width: 350px;
    min-height: 120px;
  }
}

#delete {
  color: red;
}
